---
layout: archive
title: "Reports & Blog Posts"
permalink: /posts/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<!DOCTYPE html>
<html>
<body>
	<h2>Reports</h2>
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2024/demo/p70br-202.html">Wealth of Households: 2022</a> (with Shomik Ghosh)
			<br>
			Current Population Reports, P70BR-202, US Census Bureau, November 2024.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2023/demo/p70br-183.html">The Wealth of Households: 2021</a> (with Neil Bennett and Donald Hays)
			<br>
			Current Population Reports, P70BR-183, US Census Bureau, June 2023.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2022/demo/p70br-181.html">The Wealth of Households: 2020</a> (with Donald Hays)
			<br>
			Current Population Reports, P70BR-181, US Census Bureau, August 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2022/demo/p70-178.html">Occupation, Earnings, and Job Characteristics</a> (with Clayton Gumber)
			<br>
			Current Population Reports, P70-178, US Census Bureau, July 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2022/demo/p70br-180.html">The Wealth of Households: 2019</a> (with Neil Bennett and Donald Hays)
			<br>
			Current Population Reports, P70BR-180, US Census Bureau, July 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/publications/2020/demo/p70br-170.html">The Wealth of Households: 2017</a> (with Jonathan Eggleston, Donald Hays, and Robert Munk)
			<br>
			Current Population Reports, P70BR-170, US Census Bureau, August 2020.
		</p>
		
	<h2>Blog Posts</h2>
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2024/04/wealth-by-race.html?utm_campaign=20240423msacos1ccstors&utm_medium=email&utm_source=govdelivery">Wealth by Race of Householder</a> (with Neil Bennett and Donald Hays)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, April 23, 2024.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2022/08/who-has-retirement-accounts.html#:~:text=Baby%20boomers%2C%20men%20and%20non,Census%20Bureau%20data%20released%20today.">Who Has Retirement Accounts</a> (with Maria Hoffman and Mark Klee)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, August 31, 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2022/08/wealth-inequality-by-household-type.html">Wealth Inequality in the U.S. by Household Type</a> (with Neil Bennett and Donald Hays)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, August 1, 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2022/07/how-food-service-transportation-workers-fared-before-pandemic.html">How Food Service, Transportation Workers Fared Before Pandemic</a> (with Clayton Gumber)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, July 27, 2022.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="">Who Has Medical Debt in the United States?</a> (with Neil Bennett, Jonathan Eggleston, and Laryssa Mykyta)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, April 7, 2021.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2020/11/gaps-in-wealth-of-americans-by-household-type-in-2017.html">Gaps in the Wealth of Americans by Household Type in 2017</a> (with Donald Hays)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, November 16, 2020.
		</p>
		
		<p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.census.gov/library/stories/2020/05/the-choices-working-mothers-make.html">The Choices Working Mothers Make</a> (with Cheridan Christnacht)
			<br>
			<em>America Counts: Stories Behind the Numbers</em>, US Census Bureau, May 8, 2020.
		</p>
</body>
</html>
