---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<html lang=”en”>
   <head>
      <title>Coming Soon</title>
   </head>
   <body>
      <!--Centered Image Start-->
      <div style="text-align: center;">
        <img src="/images/construction.svg" style="width:100%">
      </div>
      <!--Centered Image End-->
      <p>This page is under construction, come back soon!</p>
   </body>
</html>
