---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
last_modified_at:   2025-04-25
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<html lang=”en”>
  <head>
    <style>
      h3 {text-align: center;}
      p {text-align: center;}
    </style>
  </head>
   <body>
     <br>
     <h3> Coming Soon </h3>
      <!--Centered Image Start-->
      <div style="text-align: center;">
        <img src="/images/construction.svg" style="width:60%">
      </div>
      <!--Centered Image End-->
      <p>This page is under construction, come back soon!</p>
   </body>
  <footer>
	  <font size="3">Last updated: {{ page.last_modified_at | date: date_format }}</font>
  </footer>
</html>


